<!-- Step 3 Add Header -->
<%- include("header.ejs")%>

<% if(locals.adjecent || locals.nouncent){ %>
  <h1><%= adjecent+" "+nouncent %>   </h1>
<% }else{ %>
  <h1>press submit to generate the name</h1>
  <% } %>
<form action="/submit" method="POST">
  <input type="submit" value="Generate Name">
</form>
<%- include("footer.ejs")%>